<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titanic</title>
</head>
<body>
  <h1>Предсказания для пассажиров Титаника</h1>
  {% if message %}
    <p>{{ message }}</p>
{% endif %}
<form action="" method="post">
    <p>
        <label>Pclass</label>
        <input type="number" name="pclass">
    </p>
    <p>
        <label>Sex</label>
        <input type="number" name="sex">
    </p>
    <p>
        <label>Age</label>
        <input type="number" name="age">
    </p>
    <p>
        <label>SibSp</label>
        <input type="number" name="sibsp">
    </p>
    <p>
        <label>Parch</label>
        <input type="number" name="parch">
    </p>
    <p>
        <label>Fare</label>
        <input type="text" name="fare">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

</body>
</html>